<p id="notice"><%= notice %></p>

<h2>Meals for <%= @day.pp %></h2>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Foods</th>
      <th>Veggies</th>
      <th>Fruits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @day.meals %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal', new_day_meal_path %>
